html {
	background-color: #111;
	color: white;
}



pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}



b,
strong {
	font-weight: inherit;
}


b,
strong {
	font-weight: bolder;
}



* {
	box-sizing: border-box;
}

.s009 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 15px;
	margin-top: 90px;
	margin-bottom: 30px;
	font-family: 'Lato', sans-serif;
}

.s009 form {
	width: 100%;
	max-width: 790px;
	margin: 0;
}

.s009 form .inner-form {
	width: 100%;
}

.s009 form .inner-form .input-field {
	position: relative;
}

.s009 form .inner-form .input-field input {
	height: 100%;
	border: 0;
	background: #fff;
	display: block;
	width: 100%;
	padding: 10px 32px 10px 70px;
	font-size: 18px;
	color: #666;
	border-radius: 3px;
	height: 70px;
	color: #555;
	font-family: 'Lato', sans-serif;
}


.s009 form .inner-form .input-field .btn-search {
	min-width: 100px;
	height: 40px;
	padding: 0 15px;
	background: #00bbec;
	white-space: nowrap;
	border-radius: 0;
	font-size: 14px;
	color: #fff;
	transition: all .2s ease-out, color .2s ease-out;
	border: 0;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}


.s009 form .inner-form .input-field .btn-delete {
	min-width: 100px;
	height: 40px;
	padding: 0 15px;
	background: transparent;
	white-space: nowrap;
	border-radius: 0;
	font-size: 14px;
	color: #666;
	transition: all .2s ease-out, color .2s ease-out;
	border: 0;
	cursor: pointer;
	font-weight: bold;
}


.s009 form .inner-form .basic-search .input-field .icon-wrap, .icon-wrap-nav {
	position: absolute;
	top: 0;
	right: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	width: 60px;
	height: 100%;
}

.s009 form .inner-form .basic-search .input-field .icon-wrap svg{
	width: 34px;
	height: 34px;
	fill: #ccc;
}

.icon-wrap-nav svg {
	width: 30px;
	height: 30px;
	fill: #ccc;
}

.s009 form .inner-form .advance-search {
	background: #fff;
	padding: 40px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}



.s009 form .inner-form .advance-search .row.third .input-field {
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
}


